language: android
android:
  components:
    # Update Android SDK Tools
    - tools

    - build-tools-27.0.0
    - android-26

    # Support library
    - extra-android-support
    - extra-android-m2repository

install: true

before_script:
  - chmod +x gradlew

script:
  - ./gradlew assembleRelease --stacktrace